[alias]
	aliases = "!git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/#/' | column -t -s#"
	st = status
	br = branch
	rb = "!f() {git checkout -b $1 && git push -u origin $1;}; f"
	spp = "!git stash && git pull && git stash pop"
[color]
	ui = auto
[log]
	decorate = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = 7959971+blujan@users.noreply.github.com
	name = Brennan Lujan
[credential]
	helper = osxkeychain
