*
# Using !*/ doesn't mix well with my setup. So, I have to manually add each subdir

# Neovim
!.config
!.config/nvim
!.config/nvim/lua
!.config/nvim/lua/**
!.config/nvim/.luarc.json
!.config/nvim/.neoconf.json
!.config/nvim/.stylua.toml
!.config/nvim/init.lua
!.config/nvim/neovim.yml
!.config/nvim/README.md
!.config/nvim/selene.toml

# Vim
!.vimrc

# Docs
!installed_utils
!installed_utils/**

# Git
!.gitconfig
!.gitignore
!.gitmodules
!.pre-commit-config.yaml

# Zsh
!.zshrc
!.zshrc.prek
!.p10k.zsh
!.zshenv
!.zlogin
!.zprofile
!.oh-my-zsh
!.oh-my-zsh-custom
!.oh-my-zsh-custom/plugins
!.oh-my-zsh-custom/plugins/zsh-autosuggestions
!.oh-my-zsh-custom/themes
!.oh-my-zsh-custom/themes/powerlevel10k
!.zfunc
!.zfunc/*


# Ghostty
!Library
!Library/Application Support
!Library/Application Support/com.mitchellh.ghostty
!Library/Application Support/com.mitchellh.ghostty/config
!.config/ghostty
!.config/ghostty/themes
!.config/ghostty/themes/**

# lf
!.config/lf
!.config/lf/**

# bin
!bin/
!bin/setup_symlinks.zsh

# tmux
!.tmux.conf
!.tmux
!.tmux/plugins
!.tmux/plugins/tpm
!.config/sesh/
!.config/sesh/sesh.toml

# atuin
!.config/atuin
!.config/atuin/config.toml
!.zshrc.atuin
